- var notes = ''
section(data-notes=notes)
  section.explanation.slide_css_1.active
    h2 Cascading Style Sheets
    .demo
      .d1
      .d2
      .d3
      p.d4 CSS = Aussehen und Farben
      p.d5 Manipulate Text 
        span.color Colors,
        span.box Boxes
        
    .nextslide
  section.explanation
    .previouslide
    h2 Inline CSS
    p.center.lgfont.lgpad
      code.red &lt;h1 style="color:red"&gt;Rote Überschrift&lt;/h1&gt;
    
    .nextslide
  section.explanation
    .previouslide
    h2 Internal CSS
      .codebox
        pre(class="brush: xml").
          &lt;head&gt;
            &lt;title&gt;Hello&lt;/title&gt;
            &lt;style&gt;
              h1 {
                color: red;
              }
            &lt;/style&gt;
          &lt;/head&gt;
          &lt;body&gt;
            &lt;h1&gt; Rote Überschrift&lt;/h1&gt;
          &lt;/body&gt;
          
    
    .nextslide
  section.explanation
    .previouslide
    h2 External CSS
    .codebox
      pre(class="brush: xml").
        &lt;head&gt;
          &lt;title&gt;Hello&lt;/title&gt;
          &lt;link rel="stylesheet" href="style.css"&gt;
        &lt;/head&gt;
        &lt;body&gt;
          &lt;h1&gt; Rote Überschrift&lt;/h1&gt;
        &lt;/body&gt;        
        
        
    .nextslide
