- var notes = ''
- var headingStyle = 'display:inline-block; color: #6a4ded; font-size: 30rem; transform: rotateX(90deg); position: absolute; bottom: 0rem; left: 25%; transform-style: preserve-3d;'
section(data-notes=notes)

  section(style="position:relative; perspective: 600px;perspective-origin: 60% 0%;")
    h2 Div
