- var notes = ''
section(data-notes=notes)
  section
    h3 Intro
        //- span presents
    .subtitle1 Seitenstruktur
  section.explanation.active
    h2 Bilder
    p.center.lgpad.lgfont
      code.bluelight &lt;img src="bild.jpg" alt="Landschaft"&gt;
    p.center.lgpad.lgfont
      code.orange &lt;img srcset="bild.jpg 3000w, b_bild.jpg 1920w, m_bild.jpg 800w, s_bild.jpg 400w" src="s_bild.jpg" alt="Landschaft"&gt;
    .nextslide
  section.explanation
    .previouslide
    .fourimages   
      .quarter       
        img(srcset="../assets/img/full/img_full_145.jpg 4534w, ../assets/img/big/img_b_145.jpg 1920w, ../assets/img/medium/img_m_145.jpg 800w,            ../assets/img/small/img_s_145.jpg 400w" src="../assets/img/small/img_s_145.jpg")
      .quarter
        img(srcset="../assets/img/full/img_full_009.jpg 5616w, ../assets/img/big/img_b_009.jpg 1920w, ../assets/img/medium/img_m_009.jpg 800w,            ../assets/img/small/img_s_009.jpg 400w" src="../assets/img/small/img_s_009.jpg")       
      .quarter
        img(srcset="../assets/img/full/img_full_100.jpg 4343w, ../assets/img/big/img_b_100.jpg 1920w, ../assets/img/medium/img_m_100.jpg 800w,            ../assets/img/small/img_s_100.jpg 400w" src="../assets/img/small/img_s_100.jpg")       
      .quarter
        img(srcset="../assets/img/full/img_full_142.jpg 5341w, ../assets/img/big/img_b_142.jpg 1920w, ../assets/img/medium/img_m_142.jpg 800w,            ../assets/img/small/img_s_142.jpg 400w" src="../assets/img/small/img_s_142.jpg")       
    .nextslide
  section.explanation
    .previouslide
    img(srcset="../assets/img/full/img_full_083.jpg 3415w, ../assets/img/big/img_b_083.jpg 1920w, ../assets/img/medium/img_m_083.jpg 800w,            ../assets/img/small/img_s_083.jpg 400w" src="../assets/img/small/img_s_083.jpg", alt="Shore" style="width:100%")
    .nextslide  
