- var notes = ''
section(data-notes=notes)
  section
    h3 Intro
        //- span presents
    .subtitle1 Seitenstruktur
  section.explanation.active
    table(style="font-size: 6rem")
      thead
        tr
          th Tabellenüberschrift
          th Spalte 2
      tbody
        tr
          td Data
          td Data
        tr
          td Data
          td Data
        tr
          td Data
          td Data
        tr
          td Data
          td Data
          
    .nextslide
  section.explanation
    .previouslide
    h2 Tabellen
    .codebox
      pre(class="brush:xml").
        &lt;table&gt;
          &lt;tr&gt;
            &lt;td&gt;Daten&lt;/td&gt;
            &lt;td&gt;Daten&lt;/td&gt;
          &lt;/tr&gt;
        &lt;/table&gt;
    table.xlgfont.lgmar
      tr
        td Daten
        td Daten
    .nextslide
  section.code
    .previouslide      
    .codeside
      .htmltab
        h3 index.html
        .codetab
          pre(class="brush: xml").
            &lt;head&gt;
              &lt;link rel="stylesheet" href="style.css"&gt;
            &lt;/head&gt;
            &lt;body&gt;
              &lt;table&gt;
                &lt;tr&gt;
                  &lt;th&gt;Kenngröße&lt;/th&gt;
                  &lt;th&gt;Daten P-51D&lt;/th&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Länge&lt;/td&gt;
                  &lt;td&gt;9,82 m&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Spannweite&lt;/td&gt;
                  &lt;td&gt;11,28 m&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Höhe&lt;/td&gt;
                  &lt;td&gt;4,16 m&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Antrieb&lt;/td&gt;
                  &lt;td&gt;ein 12-Zylinder-V-Motor Packard-Merlin mit 1.671 PS &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Höchstgeschwindigkeit&lt;/td&gt;
                  &lt;td&gt;703&#160;km/h auf (7.620 m)&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Marschgeschwindigkeit&lt;/td&gt;
                  &lt;td&gt;523&#160;km/h auf (3.048 m)&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Reichweite&lt;/td&gt;
                  &lt;td&gt;3.300 km bei 390&#160;km/h in 3.000 m (mit Abwurftanks)&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Dienstgipfelhöhe&lt;/td&gt;
                  &lt;td&gt;12.500 m&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Leermasse&lt;/td&gt;
                  &lt;td&gt;3.450&#160;kg&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Flugmasse&lt;/td&gt;
                  &lt;td&gt;5.260&#160;kg&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Bewaffnung&lt;/td&gt;
                  &lt;td&gt;sechs .50-Browning MG53-2,&lt;br&gt;
                bis zu 907&#160;kg Bomben oder zehn 12,7-cm-Raketen&lt;/td&gt;
                &lt;/tr&gt;
              &lt;/table&gt;
            &lt;/body&gt;
    .previewside.preview
      .prettydiv
        table(style="font-size: 1rem; margin: 5rem 0")
          tr
            th Kenngröße
            th Daten P-51D
          tr
            td Länge
            td 9,82 m
          tr
            td Spannweite
            td 11,28 m
          tr
            td Höhe
            td 4,16 m
          tr
            td Antrieb
            td ein 12-Zylinder-V-Motor Packard-Merlin mit 1.671 PS
          tr
            td Höchstgeschwindigkeit
            td 703&#160;km/h auf (7.620 m)
          tr
            td Marschgeschwindigkeit
            td 523&#160;km/h auf (3.048 m)
          tr
            td Reichweite
            td 3.300 km bei 390&#160;km/h in 3.000 m (mit Abwurftanks)
          tr
            td Dienstgipfelhöhe
            td 12.500 m
          tr
            td Leermasse
            td 3.450&#160;kg
          tr
            td Flugmasse
            td 5.260&#160;kg
          tr
            td Bewaffnung
            td sechs .50-Browning MG53-2,&lt;br&gt; bis zu 907&#160;kg Bomben oder zehn 12,7-cm-Raketen
    .nextslide
