- var notes = ''
section(data-notes=notes)
  section.explanation.slide_div_1.active
    h2 Die allgemeine Box
    .demodiv
    p.xlgfont.mpad.center
      code.bluelight &lt;div&gt; &lt;/div&gt;
    h3 Zusammenfassen:
    .codebox
      pre(class="brush: xml").
        <div style="color:red">
          <p>lorem ipsum</p>
          <p>lorem ipsum</p>
          <p>lorem ipsum</p>
        </div>
  