- var notes = ''
section(data-notes=notes)
  section.explanation.active
    h2 Klassen
    h3 Bekannt:
    .codebox
      pre(class="brush: xml").
        &lt;p style="color: green"&gt;lorem ipsum&lt;/p&gt;
        &lt;p style="color: green"&gt;lorem ipsum&lt;/p&gt;
        &lt;p style="color: green"&gt;lorem ipsum&lt;/p&gt;
    h3 Besser:
    .codebox
      pre(class="brush: xml").
        &lt;style&gt; .green{color:green} &lt;/style&gt;
        &lt;p class="green"&gt;lorem ipsum&lt;/p&gt;
        &lt;p class="green"&gt;lorem ipsum&lt;/p&gt;
        &lt;p class="green"&gt;lorem ipsum&lt;/p&gt;
    .nextslide
  section.explanation
    .previouslide
    h3 In HTML:
    p.center.xlgfont.lgpad
      code.bluelight &lt;h1 class="blue"&gt;Blau&lt;/h1&gt;
    h3 In CSS:
    p.center.xlgfont.lgpad
      code.orange .blue {} 
    .nextslide
