- var notes = ''
section(data-notes=notes)
  section.explanation.slide_forms_1.active
    h2 Formulare
    form
      .input-block
        .input-group.has-content
          input(type="text")
          label Name
        .input-group
          input(type="text")
          label Prename
        .input-group
          input(type="text")
          label Company
        .input-group
          input(type="submit", value="Send")
          
  section
    h2 Formulare
    pre
      code.html.background.
        &lt;form&gt;&lt;/form&gt;
    pre
      code.html.background.
        &lt;input type="text"&gt;
        &lt;input type="submit"&gt;
        &lt;input type="number"&gt;
  section
    pre
      code.html.background.
        <form>
          <input type="text">
          <input type="number">
          <input type="submit">
        </form>
    +preview-slim("height:5rem; width: 80%")
      style.
        * {font-size:30px}
      form
        input(type="text")
        input(type="number")
        input(type="submit")
