- var notes = ''
section
  section
    h2 www.doofenschmirtz.evil
        //- span presents
    .subtitle1 Eine erste Seite
  section
    h3 Was brauchen wir eigentlich?
    ul
      li.fragment Erfindungen
        ul
          li Bilder
      li.fragment Preistabelle
      li.fragment Vorstellung / Über uns
      li.fragment Erungenschaften
  section(data-notes="Schön bunt hier, nicht bei euch", data-background="#282c34").dark
    h3 Grundgerüst
    pre
      code.html.
        &lt;!doctype html&gt;
        &lt;html lang="de"&gt;
          &lt;head&gt;
            &lt;meta charset="utf-8"&gt;
            &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
            &lt;title&gt;Doofenschmirtz Evil Inc.&lt;/title&gt;
          &lt;/head&gt;
          &lt;body&gt;
            &lt;p&gt;Dieser Text wird im Browserfenster angezeigt.&lt;/p&gt;
          &lt;/body&gt;
        &lt;/html&gt;
