- var notes = ''
section(data-notes=notes)
  section
    h3 Intro
        //- span presents
    .subtitle1 Seitenstruktur
  section#1.explanation.active
    h2 Listen
    h3.lgfont.nomar.nopad Not-to-Do-Liste
    ol(start="243")
      li Glastüren übersehen
      li Aus Langeweile einen Detektivbüro gründen
      li Zu Leuten mit Migräne sagen: "Ich habe heute auch ein bisschen Kopfschmerzen"
      li Wenn jemand sagt: "Ich finde dich ganz toll" anworten: "Na da können wir ja nen Club aufmachen!"
      li Wenn man Geburtstag hat und nur einer kommt und singt: "Heute ist dein Geburtstag und darum feiern wir, alle deine Freunde freuen sich mit dir ..." sagen: "Du bist nicht mein Freund"
    
    blockquote
      p.quote Die Macht ist nicht etwas, was man erwirbt, wegnimmt, teilt, was man bewahrt oder verliert; die Macht ist etwas, was sich von unzähligen Punkten aus und im Spiel ungleicher und beweglicher Beziehungen vollzieht
      p.origin Darth Vader
        
    .nextslide
  section#2.explanation
    .previouslide
    h2 Listen
    .codebox
      pre(class="brush: xml").
        <ol>
          <li>Item</li>
          <li>Item</li>
        </ol>
        
        <ul>
          <li>Item</li>
          <li>Item</li>
        </ul>
    ol
      li Item
      li Item
    
    ul
      li Item
      li Item
    .nextslide