- var notes = ''
section(data-notes=notes)
  section
    h2 Was ist HTML?
        //- span presents
  section
    h4
      strong H
      | yper
      strong T
      | ext - 
      strong M
      | arkup - 
      strong L
      |anguage
    p.fragment Hypertext Auszeichungssprache
  //- section.dark(data-background="#282c34")
  //-   h3 Ein einfaches HTML-Dokument
  //-   pre
  //-     code.html.
  //-       &lt;!DOCTYPE html&gt;
  //-         &lt;html lang="en"&gt;
  //-           &lt;head&gt;
  //-             &lt;meta charset="utf-8"&gt;
  //-             &lt;title&gt;Doovenschmirtz Evil Inc.&lt;/title&gt;
  //-           &lt;/head&gt;
  //-           &lt;body&gt;
  //-             &lt;h1&gt;Überschrif&lt;/h1&gt;
  //-             &lt;p&gt;Abschnitt&lt;/&gt;
  //-           &lt;/body&gt;
  //-         &lt;/html&gt;
  section
    table
      tr
        th Version
        th Erscheinen
      tr
        td HTML 
        td 3. November 1992
      tr
        td HTML 
        td 30. April 1993
      tr
        td HTML 2.0
        td November 1995
      tr
        td HTML 3.2 
        td 14. Januar 1997
      tr
        td HTML 4.0 
        td 18. Dezember 1997
      tr
        td HTML 4.01 
        td 24. Dezember 1999
      tr
        td XHTML 1.0 
        td 26. Januar 2000
      tr
        td XHTML 1.1 
        td 31. Mai 2001
      tr
        td HTML5 
        td 28. Oktober 2014
      tr
        td HTML 5.1 
        td 1. November 2016
      tr
        td HTML 5.2 
        td 14. Dezember 2017



