- var notes = ''
section(data-notes=notes)
  section
    h2 Was ist HTML?
        //- span presents
  section
    p
      strong H
      | yper
      strong T
      | ext - 
      strong M
      | arkup - 
      strong L
      |anguage
    p.fragment Hypertext Auszeichungssprache
  section
    h3 Mindesstruktur einer HTML-Seite
    pre
      code.html.
        &lt;!DOCTYPE html&gt;
          &lt;html lang="en"&gt;
            &lt;head&gt;
              &lt;meta charset="utf-8"&gt;
              &lt;title&gt;HowToWeb2.0&lt;/title&gt;
            &lt;/head&gt;
            &lt;body&gt;
              &lt;h1&gt;Überschrif&lt;/h1&gt;
              &lt;p&gt;Abschnitt&lt;/&gt;
            &lt;/body&gt;
          &lt;/html&gt;


