- var notes = ''
section(data-notes=notes)
  section
    h2 Browser
        //- span presents
  section
    p HTML-Elemente werden durch
      span.imprtant Tags
      |  gekennzeichnet:
    pre
      code.html.
        &lt;tagname&gt;Content&lt;/tagname&gt;
    p Der Inhalt eines Elements wird eingerahmt von einem Starttag: 
      code.red &lt;tag&gt;
      | Und einem Endtag: 
      code.red &lt;/tag&gt;
    p Das Endtag (Auch: "opening tag") besitzt im Gegensatz zum Starttag (Auch "closing tag") einen Schrägstrich 
      code.red /
      |  (engl.: "slash" oder "forward slash")
  section.sec-1-4
    h3 HTML Seitenstruktur
    .border-example
      .be-gray
        code &lt;html&gt;
        .be-gray
          code &lt;head&gt;
          .be-gray
            code &lt;title&gt; Seitentitel &lt;/title&gt;
          code &lt;/head&gt;
        .be-gray
          code &lt;body&gt;
          .be-white
            .be-white
              code &lt;h1&gt; Überschrift &lt;/h1&gt;
            .be-white
              code &lt;p&gt; Textparagraf &lt;/p&gt;
            .be-white
              code &lt;p&gt; Textparagraf &lt;/p&gt;
          code &lt;/body&gt;
        code &lt;/html&gt;