- var notes = ''
section(data-notes=notes)
  section
    h2 Browser
        //- span presents
  section
    p HTML-Elemente werden durch
      span.imprtant Tags
      |  gekennzeichnet:
    pre
      code.html.
        &lt;tagname&gt;Content&lt;/tagname&gt;
    p Der Inhalt eines Elements wird eingerahmt von einem Starttag: 
      code.red &lt;tag&gt;
      | Und einem Endtag: 
      code.red &lt;/tag&gt;
    p Das Endtag (Auch: "opening tag") besitzt im Gegensatz zum Starttag (Auch "closing tag") einen Schrägstrich 
      code.red /
      |  (engl.: "slash" oder "forward slash")