- var notes = ''
section(data-notes=notes)
  section
    h2 Textauszeichnung 
  section(data-background="#282c34").dark
    h3
      span.code &lt;h1&gt;
      | ÜBERSCHRIFTEN
      span.code &lt;/h1&gt;
    pre
      code.html.
        &lt;!doctype html&gt;
        &lt;html lang="de"&gt;
          &lt;head&gt;
            &lt;meta charset="utf-8"&gt;
            &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
            &lt;title&gt;Doofenschmirtz Evil Inc.&lt;/title&gt;
          &lt;/head&gt;
          &lt;body&gt;
            &lt;h1&gt;Willkommen bei Doofenshmirtz Evil Incorporated&lt;h1p&gt;
          &lt;/body&gt;
        &lt;/html&gt;
  section
    h3 Erstmal Speichern
    .subtitle Am besten als "index.html"
  section(data-background="#282c34").dark
    h3
      span.code &lt;p&gt;
      | Absätze
      span.code &lt;/p&gt;
    pre
      code.html.
        &lt;!doctype html&gt;
        &lt;html lang="de"&gt;
          &lt;head&gt;
            &lt;meta charset="utf-8"&gt;
            &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
            &lt;title&gt;Doofenschmirtz Evil Inc.&lt;/title&gt;
          &lt;/head&gt;
          &lt;body&gt;
            &lt;h1&gt;Willkommen bei Doofenshmirtz Evil Incorporated&lt;h1p&gt;
            &lt;p&gt; Lorem ipsum dolor sit amet consectetur ... nostrum quo.&lt;/p&gt;
            &lt;p&gt; Lorem ipsum dolor sit amet consectetur ... nostrum quo.&lt;/p&gt;
            &lt;p&gt; Lorem ipsum dolor sit amet consectetur ... nostrum quo.&lt;/p&gt;
          &lt;/body&gt;
        &lt;/html&gt;
