- var notes = ''
section(data-notes=notes)
  section
    h2 Textauszeichnung 
  section(data-background="#282c34").dark
    h3
      span.code &lt;h1&gt;
      | ÜBERSCHRIFTEN
      span.code &lt;/h1&gt;
    pre
      code.html.
        &lt;!doctype html&gt;
        &lt;html lang="de"&gt;
          &lt;head&gt;
            &lt;meta charset="utf-8"&gt;
            &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
            &lt;title&gt;Doofenschmirtz Evil Inc.&lt;/title&gt;
          &lt;/head&gt;
          &lt;body&gt;
            &lt;h1&gt;Willkommen bei Doofenshmirtz Evil Incorporated&lt;h1p&gt;
          &lt;/body&gt;
        &lt;/html&gt;
  section
    h3 Erstmal Speichern
    .subtitle Am besten als "index.html"
  section(data-background="#282c34").dark
    h3
      span.code &lt;p&gt;
      | Absätze
      span.code &lt;/p&gt;
    pre
      code.html.
        &lt;!doctype html&gt;
        &lt;html lang="de"&gt;
          &lt;head&gt;
            &lt;meta charset="utf-8"&gt;
            &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
            &lt;title&gt;Doofenschmirtz Evil Inc.&lt;/title&gt;
          &lt;/head&gt;
          &lt;body&gt;
            &lt;h1&gt;Willkommen bei Doofenshmirtz Evil Incorporated&lt;h1p&gt;
            &lt;p&gt; Lorem ipsum dolor sit amet consectetur ... nostrum quo.&lt;/p&gt;
            &lt;p&gt; In movet iisque nam, ut est ... habemus prodesset.&lt;/p&gt;
            &lt;p&gt; Te vis maluisset urbanitas, vitae ... laudem ut eam.&lt;/p&gt;
          &lt;/body&gt;
        &lt;/html&gt;
  section(data-background="#282c34").dark
    h3
      span.code &lt;ul&gt;
      | Listen
      span.code &lt;/ul&gt;
    pre
      code.html.
        &lt;!doctype html&gt;
        &lt;html lang="de"&gt;
            ...
          &lt;body&gt;
            ...
            &lt;h2&gt; Erfindungen (chronologisch)&lt;h2&gt;
            &lt;ol&gt;
              &lt;li&gt;Magnetism Magnifier&lt;/li&gt;
              &lt;li&gt;Destruct-inator&lt;/li&gt;
              ...
            &lt;/ol&gt;
            &lt;h2&gt; Weitere Erfindungen&lt;h2&gt;
            &lt;ol&gt;
              &lt;li&gt;Audience Control-inator&lt;/li&gt;
              &lt;li&gt;Shock Absorber Absorbinator&lt;/li&gt;
              ...
            &lt;/ol&gt;
            ...
          &lt;/body&gt;
        &lt;/html&gt;
  //- section
  //-   h3 Vorschau
  section
    +preview('file://index.html',[{title:'Doofenschmirtz Evil Inc.', active:true}])
      h1 Willkommen bei Doofenshmirtz Evil Incorporated
      p Lorem ipsum dolor sit amet, modus regione labitur te quo, at noluisse signiferumque vim, ex ornatus habemus propriae vel. At quodsi similique forensibus vim, iriure gloriatur dissentias ea mei. Eos te quod solum. Et has unum commodo fuisset. Eam at viris putent explicari.</p>
      h2 Erfindungen (chronologisch)
      ol
        li Magnetism Magnifier
        li Destruct-inator
        li Giant Robot
        li Deflate-inator
        li Age Accelerator-inator
        li Slave-inator
        li Drill-inator
      h2 Weitere Erfindungen
      ul
        li Copy and Paste-Inator
        li Melt-inator 6-5000
        li Wood-inator
      p Nam facer novum sonet ea, nam iriure consetetur et. Ne nulla ubique per, dicunt reprimique te mel. Omittantur efficiantur ius et, usu in habeo facer inani, docendi liberavisse instructior in mei. Qui choro ignota ei, wisi ipsum nam ne. Mollis recusabo eu his, ea hinc volutpat definiebas duo.
      p Est in mundi tollit, nam et dicunt contentiones, ex usu audire diceret facilisis. Eum viderer corpora sadipscing ut, eu ius aeterno integre, mei ex libris perpetua comprehensam. Errem tamquam pertinax no vis, eum velit suavitate an, est populo option at. Id sea utamur regione democritum, ea utroque laboramus eam. Nostrum quaestio no has, cu pri aperiam oblique habemus. An moderatius omittantur definitiones sit.
