- var notes = ''
section(data-notes=notes)
  section#1.explanation.active
    h2 HTML Elemente
    p.lgpad.center.xlgfont
      code.orange &lt;tagname&gt;Inhalt&lt;/tagname&gt;
      h3 Paragraphen
      p.mpad.center.lgfont
        code.bluelight &lt;p&gt; Lorem ipsum dolor...&lt;/p&gt;
      h3 Leere Elemente
      p.mpad.center.lgfont
        code.bluelight &lt;br&gt;
        | , 
        code.red &lt;img src=".." alt="..."&gt;
        
    .nextslide
  section#2.explanation
    .previouslide
    h2 Elemente verschachteln
    p.center HTML-Elemente können verschachtelt werden:
    p.center.lgfont
      code.red &lt;body&gt; &lt;h1&gt;Überschrift&lt;/h1&gt; &lt;/body&gt;

    .nextslide
  section#3.code
    .previouslide
    .codeside
      h3 Verschachteltes Dokument
      .hmtltab
        h3 index.html
        .codetab
          pre(class="brush: xml").
            &lt;!DOCTYPE html&gt;
            &lt;html&gt;
            &lt;head&gt;
              &lt;title&gt;Verschachteltes Element&lt;/title&gt;
            &lt;/head&gt;
            &lt;body&gt;
              &lt;h1&gt;Überschrift&lt;/h1&gt;
              &lt;p&gt;
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              &lt;/p&gt;
            &lt;/body&gt;
            &lt;/html&gt;
              
    .previewside.preview
      .prettydiv
        h1 Überschrift
        p  Lorem ipsum dolor sit amet, consectetur adipisicing

      
    .nextslide
  section#4.explanation
    .previouslide
    h2 Schreibempfehlungen
    p.sfont Keine Pflicht aber empfohlen
    p Tags und Attribute klein schreiben
      br
      code.red.linetrough.lgfont &lt;H1&gt;...&lt;/H1&gt;
      br
      code.red.lgfont &lt;h1&gt;...&lt;/h1&gt;
      
    p Verschachtelte Elemente mit 2 Leerzeichen einrücken
    .codebox
      pre(class="brush: xml").
          &lt;html lang="de"&gt;
            &lt;head&gt;
              &lt;title&gt;HowToWeb2.0&lt;/title&gt;
            &lt;/head&gt;
            
    .nextslide 