- var notes = ''
section(data-notes=notes)
  section
    //- h2 Tabellen
    table(style="font-size: 6rem")
      thead
        tr
          th Produkt
          th Preis
      tbody
        tr
          td Data
          td 186 TAD
        tr
          td Data
          td 868 TAD
        tr
          td Data
          td 6464 TAD
        tr
          td Data
          td 14654 TAD
  section(data-background="#282c34").dark
    h2 Tabellen
    pre
      code.html.
        &lt;table&gt;
          &lt;thead&gt;
            &lt;tr&gt;
              &lt;th&gt;Produkt&lt;/th&gt;
              &lt;th&gt;Preis&lt;/th&gt;
            &lt;/tr&gt;
          &lt;/thead&gt;
          &lt;tbody&gt;
            &lt;tr&gt;
              &lt;td&gt;Data&lt;/td&gt;
              &lt;td&gt;186 TAD&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;Data&lt;/td&gt;
              &lt;td&gt;6464 TAD&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/tbody&gt;
        &lt;/table&gt;
  section(data-background="#282c34").dark
    h4 preise.html
    pre
      code.html.
        &lt;!doctype html&gt;
        &lt;html lang="de"&gt;
          &lt;head&gt;
            &lt;meta charset="utf-8"&gt;
            &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
            &lt;title&gt;Preise - Doofenschmirtz Evil Inc.&lt;/title&gt;
          &lt;/head&gt;
          &lt;body&gt;
            &lt;h1&gt;Preistabelle&lt;/h1&gt;
            &lt;table&gt;
              &lt;thead&gt;
                &lt;tr&gt;
                  &lt;th&gt;Produkt&lt;/th&gt;
                  &lt;th&gt;Preis&lt;/th&gt;
                &lt;/tr&gt;
              &lt;/thead&gt;
              &lt;tbody&gt;
                &lt;tr&gt;
                  &lt;td&gt;Data&lt;/td&gt;
                  &lt;td&gt;186 TAD&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Data&lt;/td&gt;
                  &lt;td&gt;868 TAD&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Data&lt;/td&gt;
                  &lt;td&gt;6464 TAD&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Data&lt;/td&gt;
                  &lt;td&gt;14654 TAD&lt;/td&gt;
                &lt;/tr&gt;
              &lt;/tbody&gt;
            &lt;/table&gt;
          &lt;/body&gt;
        &lt;/html&gt;
  section
    +preview('file://preise.html',[{title:'Doofenschmirtz Evil Inc.', active:false},{title:'Preise - Doofenschmirtz Evil Inc.', active:true}])
      h1 Preistabelle
      table
        thead
          tr
            th Produkt
            th Preis
        tbody
          tr
            td Data
            td 186 TAD
          tr
            td Data
            td 868 TAD
          tr
            td Data
            td 6464 TAD
          tr
            td Data
            td 14654 TAD

