- var notes = ''
section(data-notes=notes)
  section#1.explanation.active
    h2 Attribute
    p Enthältz zusätliche Informationen
    p Steht im Start-Tag
    p.center.xlgpad.xlgfont
      code.bluelight &lt;tag attr="value"&gt;...&lt;/tag&gt;
      
        
    .nextslide
  section#2.explanation
    .previouslide
    h2 Meistgenutzte Attribute
    h3 Das lang Attribut
    p.center.mpad.lgfont
      code.bluelight &lt;html lang="de"&gt;
    h3 Das title Attribut
    p.center.mpad.lgfont
      code.orange &lt;p title="Abschnittstitel"&gt;
    h3 Das href Attribut
    p.center.mpad.lgfont
      code.purple &lt;a href="//google.de"&gt;
    h3 Das src und alt Attribut
    p.center.mpad.lgfont
      code.green &lt;img src="./images/bild.jpg" alt="Bild"&gt;
  
  