- var notes = ''
section(data-notes=notes)
  section
    h2 "Hyper, Hyper" -text
  section
    p
      pre(style="font-size:4rem;width:50%").
        website
        |
        ├─ js
        ├─ css
        ├─ img
        ├─ html
        |  └─ preise.html
        |
        └─ index.html
  section(data-background="#282c34").dark
    h2 Verweise
    pre
      code.html.
        &lt;a&gt;&lt;/a&gt;
    pre.fragment
      code.html.
        &lt;a href="ziel.html"&gt;Weg zum Ziel&lt;/a&gt;
  section(data-background="#282c34").dark
    h2 Menü
    h4 index.html
    pre
      code.html.
        &lt;!doctype html&gt;
        &lt;html lang="de"&gt;
          &lt;head&gt;
            &lt;meta charset="utf-8"&gt;
            &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
            &lt;title&gt;Doofenschmirtz Evil Inc.&lt;/title&gt;
          &lt;/head&gt;
          &lt;body&gt;
            &lt;h1&gt;Willkommen bei Doofenshmirtz Evil Incorporated&lt;h1p&gt;
            &lt;nav&gt;
              &lt;ul&gt;
                &lt;li&gt;&lt;a tabindex="0" aria-current="page"&gt;Startseite&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="html/preise.html"&gt;Preise&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="html/bilder.html"&gt;Bilder&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/nav&gt;
            ...

  section(data-background="#282c34").dark
    h2 Menü
    h4 preise.html
    pre
      code.html.
        &lt;!doctype html&gt;
        &lt;html lang="de"&gt;
          &lt;head&gt;
            &lt;meta charset="utf-8"&gt;
            &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
            &lt;title&gt;Preise - Doofenschmirtz Evil Inc.&lt;/title&gt;
          &lt;/head&gt;
          &lt;body&gt;
            &lt;h1&gt;Preistabelle&lt;/h1&gt;
            &lt;nav&gt;
              &lt;ul&gt;
                &lt;li&gt;&lt;a href="../index.html"&gt;Startseite&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a tabindex="0" aria-current="page"&gt;Preise&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="bilder.html"&gt;Bilder&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/nav&gt;
            ...
