- var notes = ''
section(data-notes=notes)
      section
        h2 Überschriften
        p.center.lgfont
          code.red &lt;h1&gt;Erste Ordnung&lt;/h1&gt;
        p.center.lgfont
          code.orange &lt;h2&gt;Zweite Ordnung&lt;/h2&gt;
        p.center.lgfont
          code.bluelight &lt;h3&gt;Dritte Ordnung&lt;/h3&gt;
        p.center.lgfont
          code.green &lt;h4&gt;Vierte Ordnung&lt;/h4&gt;
        p.center.lgfont
          code.purple &lt;h5&gt;Fünfte Ordnung&lt;/h5&gt;
        p.center.lgfont
          code.pink &lt;h6&gt;Sechste Ordnung&lt;/h6&gt;
        .nextslide  
      section.code
        .previouslide
        .codeside
          .htmltab
            h3 index.html
            .codetab
              pre(class="brush: xml").
                &lt;!DOCTYPE html&gt;
                &lt;html lang='de'&gt;
                  &lt;head&gt;
                    &lt;title&gt;Eine HTML-Seite&lt;/title&gt;
                  &lt;/head&gt;
                  &lt;body&gt;
                    &lt;h1&gt;Überschrift&lt;/h1&gt;
                    &lt;h2&gt;Überschrift 2&lt;/h2&gt;
                    &lt;h3&gt;Überschrift 1&lt;/h3&gt;
                    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/p&gt;
                  &lt;/body&gt;
                  
                &lt;/html&gt;
                        
        .previewside.preview
          .livewrite
            h1 Überschrift
            h2 Überschrift 2
            h3 Überschrift 3
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
