- var notes = ''
section(data-notes=notes)
  section.explanation.active
    h2 Textabsätze
    p.lgfont
      code.green &lt;p&gt;
      code.default Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      code.green &lt;/p&gt;
        
    .nextslide
  section.explanation
    .previouslide
    h2 Zeilenumbrüche
    p.lgfont.center.lgpad
      code.red &lt;br&gt;
    .codebox
      pre(class="brush: xml").
        &lt;p&gt;
          Lorem ipsum dolor sit amet, consectetur adipisicing 
          &lt;br&gt; elit, sed do eiusmod tempor
          &lt;br&gt; incididunt ut labore et dolore magna aliqua.
        &lt;p&gt;

    .nextslide
  section.explanation
    .previouslide
    h2 Formattierter Text
    p.lgfont.center.lgpad
      code.red &lt;pre&gt;...&lt;/pre&gt;
    .codebox
      pre(class="brush: xml").
        &lt;pre&gt;
        Dunkel war’s, der Mond schien helle,
        schneebedeckt die grüne Flur,
        als ein Wagen blitzesschnelle,
        langsam um die Ecke fuhr.
        &lt;pre&gt;      
  
    .nextslide
  section.code.slide_paragraph_1
    .previouslide
    .codeside
      .htmltab
        h3 index.html
        .codetab
          pre(class="brush: xml").
            &lt;h1&gt;Gedicht&lt;/h1&gt;
            &lt;p&gt;
            Dunkel war’s, der Mond schien helle,
            &lt;br&gt; schneebedeckt die grüne Flur,
            &lt;br&gt; als ein Wagen blitzesschnelle,
            &lt;br&gt; langsam um die Ecke fuhr.
            &lt;/p&gt;
            &lt;p&gt;
            Drinnen saßen stehend Leute,
            &lt;br&gt; schweigend ins Gespräch vertieft,
            &lt;br&gt; als ein totgeschoss’ner Hase
            &lt;br&gt; auf der Sandbank Schlittschuh lief.
            &lt;/p&gt;
            
            &lt;pre&gt;
            Dunkel war’s, der Mond schien helle,
            schneebedeckt die grüne Flur,
            als ein Wagen blitzesschnelle,
            langsam um die Ecke fuhr.

            Drinnen saßen stehend Leute,
            schweigend ins Gespräch vertieft,
            als ein totgeschoss’ner Hase
            auf der Sandbank Schlittschuh lief.
            &lt;/pre&gt;

    
    .previewside.preview
      .prettydiv
        h1 Gedicht
        p 
          | Dunkel war’s, der Mond schien helle,
          br
          | schneebedeckt die grüne Flur,
          br
          | als ein Wagen blitzesschnelle,
          br
          | langsam um die Ecke fuhr.
        p 
          | Drinnen saßen stehend Leute,
          br
          | schweigend ins Gespräch vertieft,
          br
          | als ein totgeschoss’ner Hase
          br
          | auf der Sandbank Schlittschuh lief.
        pre.
          Dunkel war’s, der Mond schien helle,
          schneebedeckt die grüne Flur,
          als ein Wagen blitzesschnelle,
          langsam um die Ecke fuhr.

          Drinnen saßen stehend Leute,
          schweigend ins Gespräch vertieft,
          als ein totgeschoss’ner Hase
          auf der Sandbank Schlittschuh lief.
    .nextslide
  section.explanation
    .previouslide

    h2 Text formatieren
    p Fetter 
      b Text
    p.center.mpad.lgfont
      code.bluelight Fetter &lt;b&gt;Text&lt;/b&gt;
    p Wichtiger 
      strong Text
    p.center.mpad.lgfont
      code.orange Wichtiger &lt;strong&gt;Text&lt;/strong&gt;
    p Kursiver 
      i Text
    p.center.mpad.lgfont
      code.purple Kursiver &lt;i&gt;Text&lt;/i&gt;
    p Gelöschter 
      del Text
    p.center.mpad.lgfont
      code.green Gelöschter &lt;del&gt;Text&lt;/del&gt;
    
    .nextslide
  section.explanation
    .previouslide
    p Eingefügter 
      ins Text
    p.center.mpad.lgfont
      code.orange Eingefügter &lt;ins&gt;Text&lt;/ins&gt;
    p Tiefgestellter 
      sub Text
    p.center.mpad.lgfont
      code.purple Tiefgestellter &lt;sub&gt;Text&lt;/sub&gt;
    p Hochgestellter 
      sup Text
    p.center.mpad.lgfont
      code.green Hochgestellter &lt;sup&gt;Text&lt;/sup&gt;
    .nextslide  
