- var notes = ''
section(data-notes=notes)
  section
    h2 Attribute
    p Enthalten zusätliche Informationen
    p Stehen im Start-Tag
    code.typo_h4 &lt;tag attr="value"&gt;...&lt;/tag&gt;
          
            
  section
    h2 Häufige Attribute
    code.typo_h4 &lt;html lang="de"&gt;
    code.typo_h4 &lt;p title="Abschnittstitel"&gt;
    code.typo_h4 &lt;a href="//google.de"&gt;
    code.typo_h4 &lt;img src="./images/bild.jpg" alt="Bild"&gt;
    p Und über 170 weitere
      