- var notes = ''
section(data-notes=notes)
  section
    h2 Semantische elemente
  section(data-background="#282c34").dark
    pre
      code.html.
        &lt;!doctype html&gt;
        &lt;html lang="de"&gt;
          &lt;head&gt;...&lt;/head&gt;
          &lt;body&gt;
            &lt;h1&gt;Doofenshmirtz Evil Incorporated&lt;/h1&gt;
              &lt;nav&gt;...&lt;/nav&gt;
              &lt;div class="content"&gt;
                &lt;p&gt;Lorem ipsum ... explicari.&lt;/p&gt;&lt;/p&gt;
                &lt;h2&gt;Erfindungen (chronologisch)&lt;/h2&gt;
                &lt;ol&gt;...&lt;/ol&gt;
                &lt;h2&gt;Weitere Erfindungen&lt;/h2&gt;
                &lt;ul&gt;...&lt;/ul&gt;
                &lt;p&gt;Nam facer novum sonet ea, ... duo.&lt;/p&gt;
                &lt;p&gt;Est in mundi tollit, nam ... sit.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/body&gt;
          &lt;/html&gt;
  section(data-background="#282c34").dark
    h4
      code.html.
        &lt;nav&gt;   
    h4.frament
      code.html.
        &lt;header&gt;
    h4.frament
      code.html.
        &lt;footer&gt;
    h4.frament
      code.html.
        &lt;main&gt;
    h4.frament
      code.html.
        &lt;article&gt;
    h4.frament
      code.html.
        &lt;aside&gt;
    h4.frament
      code.html.
        &lt;details&gt;
  section(data-background="#282c34").dark
    h4.frament
      code.html.
        &lt;figure&gt;
    h4.frament
      code.html.
        &lt;figcaption&gt;
    h4.frament
      code.html.
        &lt;mark&gt;
    h4.frament
      code.html.
        &lt;section&gt;
    h4.frament
      code.html.
        &lt;summary&gt;
    h4.frament
      code.html.
        &lt;time&gt;
  section
    img(src="./img/1/img_sem_elements.gif" style="height: 40rem")
