.sketch{
  position: relative;
  height: 100vh;
  width: 100vw;
  
  .body{
    font-size: 2rem;
    // top: 10vh;
    padding: 0;
    margin: 0;
    left: 10vw;
    border: 2px solid black;
    position: absolute;
  border-radius: 0.25rem;
  width: 80vw;
  height: 80vh;}
  .sheader{
    border:inherit;
    height: 10vh;
  }
  .main{
    border: inherit;
    position: absolute;
    top: 15vh;
    left: 15vw;
    width: 30vw;
    height: 60vh;
  }
  .aside{
    border: inherit;
    position: absolute;
    width: 10vw;
    height: 30vh;
    left: 46vw;
    top: 15vh;
  }
  .aside2{
    border: inherit;
    position: absolute;
    width: 10vw;
    height: 20vh;
    left: 46vw;
    top: 50vh;
  }
  .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border:inherit;
  }
}