- var notes = ''
section(data-notes=notes, data-background="https://howtoweb3.de/images/353.jpg").chapter
  //- img(src="./img/0/git_logo.png", alt="Git Logo")#s-0-1-git-logo
  .block
    h1 git
        //- span presents
    h2 Quellcodeverwaltung
