section
  //- .header
  //-   h3 Softwareentwicklung
  //- .body
  section.split(data-background="#282c34").dark
    .0-2-left(style="width:50%")
      h4 Peter
      pre
        code.c.
          int fibonacci() {
            int n, first = 0, second = 1, next, c;
            n = 8;
          
            for (c = 0; c < n; c++)
            {
              if (c <= 1)
                next = c;
              else
              {
                next = first + second;
                first = second;
                second = next;
              }
              printf("%d\n", next);
            }
          
            return 0;
          }
    .0-2-right(style="width:50%")
      h4 Oskar
      pre
        code.c.
          int fibonacci()
          {
            int n, first = 0, second = 1, next, c;
            n = 5;
          
            for (c = 0; c < n; c++)
            {
              if (c <= 1)
                next = c;
              else
              {
                next = first + second;
                first = second;
                second = next;
              }
              // Ausgbe ist nicht notwendig
              // printf("%d\n", next);
            }
          
            return 0;
          }
  section.flex(data-notes="SVN = Apache Subversion")
    h4 Code-Sharing
    ul
      li Emails schicken
      li Dropbox/OneDrive/GDrive ...
      li Netzlaufwerk
      li ...
      li SVN
      li Git

  section.flex(data-background="#27AEBD")
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat totam aliquam nihil iste odio magnam unde voluptate fugit sapiente suscipit nam, quo, delectus sit harum aliquid perferendis quod numquam ipsa.
