section
  section.split(data-background="#282c34").dark
    .0-2-left(style="width:50%")
      h4 Heinz
      pre
        code.json.
          {
            "headquarter":
              {
                  "planet":"Earth",
                  "name":"Doofenshmirtz Evil Inc.",
                  "employees": 30
              },
            "subdiaries":[{
                "planet":"Moon",
                "name":"Doofenshmirtz Moon Telescope.",
                "employees": 3
            },
            {
                "planet":"Io",
                "name":"IOnisationinator Station",
                "employees": 5
            }]
          }
    .0-2-right(style="width:50%")
      h4 Vanessa
      pre
        code.json.
          {
            "headquarter":
              {
                  "planet":"Earth",
                  "name":"Doofenshmirtz Evil Inc.",
                  "employees": 30
              },
            "subdiaries":[{
                "planet":"Moon",
                "name":"Doofenshmirtz Moon Telescope",
                "employees": 3
            },
            {
                "planet":"Mars",
                "name":"Doofenshmirtz Evil Annex",
                "employees": 5
            }]
          }
