section
  section(data-background="./img/0/sw.jpg").dark
    //- img(src="./img/0/20.svg", alt="" style="height:20rem; margin-bottom: 5rem")
    h2 Die Mission: Ein Imperium aufbauen
    .subtitle1 Your Name Here Inc.
  section(data-background="./img/0/df-imperium.jpg")

  section.split(data-background="#282c34").dark
    .0-2-left(style="width:50%")
      h4 Norm
      pre
        code.json.
          {
            "headquarter":
              {
                  "planet":"Earth",
                  "name":"Doofenshmirtz Evil Inc.",
                  "employees": 30
              },
            "subsidiaries":[{
                "planet":"Moon",
                "name":"Doofenshmirtz Moon Telescope.",
                "employees": 3
            },
            {
                "planet":"Io",
                "name":"IOnisationinator Station",
                "employees": 5
            }]
          }
    .0-2-right(style="width:50%")
      h4 Vanessa
      pre
        code.json.
          {
            "headquarter":
              {
                  "planet":"Earth",
                  "name":"Doofenshmirtz Evil Inc.",
                  "employees": 30
              },
            "subsidiaries":[{
                "planet":"Moon",
                "name":"Doofenshmirtz Moon Telescope",
                "employees": 3
            },
            {
                "planet":"Mars",
                "name":"Doofenshmirtz Evil Annex",
                "employees": 5
            }]
          }