section
  section
    h2 Pros und Cons
  section
    h3 Pros
    ul 
      li.fragment Performant
      li.fragment Sicher
      li.fragment Flexibel
      li.fragment Featurereich
      li.fragment De Facto Standard
      li.fragment Open Source
  section
    h3 Cons
    ul 
      li.fragment Kompliziert zu lernen
      li.fragment Andere Begriffe zu anderen Sytemen

    //- ol
    //-   li  
    //-     a(href="https://gitforwindows.org/") Download:https://gitforwindows.org/
    //-   li Installieren
    //-   li Kommandozeile öffnen (oder Git Bash)
    //-   li Konfigurieren:
    //-     pre
    //-       code.bash.
    //-         $ git config --global user.name "Dr. Heinz Doofenschmirtz"
    //-         $ git config --global user.email "heinz@doofinc.com"
