section
  h3 git installieren
  ol
    li  
      a(href="https://gitforwindows.org/") Download
    li Installieren
    li Kommandozeile öffnen (oder Git Bash)
    li Konfigurieren:
      pre
        code.bash.
          $ git config --global user.name "Emma Paris"
          $ git config --global user.email "eparis@atlassian.com"
