section
  section
    img(src="./img/0/repoplus.svg", alt="" style="height:20rem; margin-bottom: 5rem")
    h2 Die Mission: Imperium ausweiten
    .subtitle1 Doofenschmirtz Evil Inc.
  section
    h3 1. Masterplan abholen
  section
    h3 2. Eigene Vorschläge vorbereiten
  section
    h3 3. Eigene Vorschläge erarbeiten
  section
    h3 4. Committen
  section
    h3 5. Zum Master senden
  section
    h3 6. Änderungen zusammenführen
  section
    h3 7. Plan kopieren