section

  section
    h2 Git Services
    .subtitle (Auszug)
  section
    h3 Bitbucket.org
    img(src="./img/0/bitbucket-page.png" style="height: 45rem")
  section
    h3 Gitlab.com
    img(src="./img/0/gitlab-page.png" style="height: 45rem")
  section
    h3 GitHub.com
    img(src="./img/0/github-page.png" style="height: 45rem")
  section
    h3 Gogs.io
    img(src="./img/0/gogs-page.png" style="height: 45rem")
  section
    h2 Git tools
  section
    h3 Sourcetree
    img(src="./img/0/sourcetree.png" style="height: 45rem")
  section
    h3 Github Desktop
    img(src="./img/0/github-desktop.png" style="height: 45rem")
  section
    h3 Gitkraken
    img(src="./img/0/gitkraken.png" style="height: 45rem")
