section
  section
    h2 Git tools
  section
    h3 Sourcetree
    img(src="./img/0/sourcetree.png" style="height: 45rem")
  section
    h3 Github Desktop
    img(src="./img/0/github-desktop.png" style="height: 45rem")
  section
    h3 Gitkraken
    img(src="./img/0/gitkraken.png" style="height: 45rem")
