extends layout/l_main.pug

block title
  title Neue Präsentation


block main
  h1 Hello
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit soluta atque quaerat quasi deleniti rem officia autem at laboriosam aspernatur incidunt odio nostrum quidem quas recusandae laborum tenetur, consequatur quia corrupti fuga temporibus saepe ipsa provident! Ullam saepe atque ipsum voluptatum architecto in molestiae odit culpa, odio expedita accusamus repudiandae ducimus illum. Numquam a harum corrupti omnis eius excepturi vel nisi animi ad neque voluptates ullam, nesciunt tempora dignissimos, perspiciatis amet, praesentium ut quo sapiente commodi. Architecto veritatis eius maiores nihil fugiat odio nam quaerat repellat cupiditate suscipit! Quibusdam possimus iste provident adipisci, neque culpa vitae, deleniti ipsa laudantium assumenda incidunt, laborum animi officiis veritatis eveniet! Veniam vero, eum perferendis consequuntur minus cupiditate ad id eveniet iste eligendi molestiae mollitia enim quasi aperiam architecto possimus ratione fuga facilis blanditiis ab quae tempore nemo vitae libero! Rem officiis minus ipsum impedit minima placeat exercitationem quod ea atque molestias eius labore, deleniti iste nesciunt veniam veritatis possimus saepe cumque dolorem animi sint inventore nemo eveniet pariatur? Unde animi sequi aspernatur excepturi odit sit officia blanditiis culpa dolorem expedita ut sapiente, minima commodi eveniet facere nesciunt quis corporis maiores ad quo enim? Inventore expedita saepe, optio error distinctio autem aliquam sed eos sit!