.l_main{
  animation: slide-in 0.5s ease-in-out 0.1s forwards;
  position: relative;
  top: 0;
  left: 0;


  header{
    
  }

}

@keyframes slide-in{
  0%{
    left: -100%;
  }
  100%{
    left: 0;
  }
}