// <reference path="../global.scss" />
body {
  -webkit-text-size-adjust: 100%;

  color: color(text);
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1;
  overflow-x:hidden;

  background-color: color(background);
}

* {
  box-sizing: border-box;
}

body, html {
  height: auto;
  min-height: 100%;
  
}
:root {
  font-size: 100%;
}
