section
  section    
    img.fullscreen(src="https://karabenemsi.github.io/HowtoWeb/assets/img/boxmodell.png", alt="Boxmodell")
  section
    pre
      code.css.background.
        #1 {
          width: 120px;
          height: 60px;
          padding: 10px;
          border: 10px dashed navy;
          margin: 8px;
        }
    img.centerimg(src="https://karabenemsi.github.io/HowtoWeb/assets/img/boxmodell.png", alt="Boxmodell", style="height:25rem")
