section
  section
    h2  Ränder
    pre
      code.css.background.
          border-style: solid; /* dotted | dashed | double | groove | none */
    .sdemodiv(style="border: 10px solid #3252de")
    pre
      code.css.background.
          border-style: solid dotted dashed solid;
    .sdemodiv(style="border-width: 10px;border-style:solid dotted dashed solid;border-color:#12de96;")
    
  section
    pre
      code.css.background.
          border-width: 20px;
    .sdemodiv(style="border: 20px solid #3252de")
    pre
      code.css.background.
          border-color: #de54aa;
  
    .sdemodiv(style="border: 10px solid #de54aa")
    
  section
    p.prefix -prefix-
    pre
      code.css.background.
        border-radius: 30px;
        -o-border-radius: 30px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        
    .sdemodiv(style="border: 10px solid #de54aa; border-radius: 30px")
    
  section
    pre
      code.css.background.
          border: 10px solid #de54aa;
    .sdemodiv(style="border: 10px solid #de54aa;")
