section
  section
    h2 Außenabstand
    pre
      code.css.background.
          div { margin: 2rem 5rem 1rem 4rem; }
    div(style="display:flex;justify-content: space-around")
      .demo-large-pad-mar
        .bg_red
          p 50% x 50%
      .demo-large-pad-mar(style="")
        .bg_yellow(style="margin: 2rem 5rem 1rem 4rem")
          p 50% x 50%
