section
  section
    h2 Innenstand
    pre
      code.css.background.
          div { padding: 2rem 5rem 1rem 4rem; }
    div(style="display:flex;justify-content: space-around")
      .demo-large-pad-mar
        .bg_red
          p 50% x 50%
      .demo-large-pad-mar(style="padding: 2rem 5rem 1rem 4rem")
        .bg_yellow
          p 50% x 50%
