section
  section
    h2 Innenstand
    pre
      code.css.background.
          padding: 2rem 5rem 1rem 4rem;
    .halfddiv.bg_blue(style="margin-right:10%;")
      .bg_red(style="height:50%;width:50%;")
        p.small(style="margin: 0;padding: 25%") 50% x 50%
    .halfddiv.bg_blue(style="padding: 2rem 5rem 1rem 4rem")
      .bg_yellow(style="height:50%;width:50%;")
        p.small(style="margin: 0;padding: 25% 0 0 25%") 50% x 50%
