section
  section
    h2 Höhe und Breite
    pre
      code.css.background.
          width: 50%;
          height: 10rem;
          max-width: 300px;
          max-height: 150px
    .demodiv.bg_blue(style="width:80%;height:10rem")
      p
        code width:80%; height:10rem
    .demodiv.bg_blue2(style="width:80%;height:10rem;max-width:600px;max-width:800px")
      p
        code width:80%; height:10rem;
        code max-width:600px; max-width:800px
