-var pfad = "slides/"
-var home = "../index.html"
-var next = '2_15_boxsizing.html'
-var previous = '2_13_padding.html'
-var title = "Height & Width"
-var sleep = "../sleep.html"
doctype html
html(lang='de')
  include ../master/head.jade
  body.cssslides
    include ../master/header.jade
    main
      section#1.explanation.active
        h2 Höhe und Breite
        .codebox
          pre(class="brush: css").
              width: 50%;
              height: 10rem;
              max-width: 300px;
              max-height: 150px
        .demodiv.bg_blue(style="width:80%;height:10rem")
          p
            code width:80%; height:10rem
        .demodiv.bg_blue2(style="width:80%;height:10rem;max-width:600px;max-width:800px")
          p
            code width:80%; height:10rem;
            code max-width:600px; max-width:800px
          

  include ../master/footer.jade
