section
  section.shadowdemo1.active
    h2 Schatten
    p.prefix (-prefix-)
    .calendar
      .day
        h2.bg_blue 18
        p Montag
      .day
        h2.bg_yellow 19
        p Dienstag
      .day#js_cal
        h2.bg_blue2 20
        p Mittwoch
    
  section
    pre
      code.css.background.
          text-shadow: 7px 7px;
          text-shadow: 7px 7px rgba(30,150,132);
          text-shadow: 7px 7px 7px rgba(30,150,132);
    p(style="font-size: 2.5rem;text-shadow: 7px 7px;") Hello Everybody
    p(style="font-size: 2.5rem;text-shadow: 7px 7px rgb(30,150,132);") Hello Everybody
    p(style="font-size: 2.5rem;text-shadow: 7px 7px 7px rgb(30,150,132);") Hello Everybody
    
  section.code
    .codeside
      .htmltab
        h3 index.html
        pre
          code.html.background.
            <div class="day">
              <h2>18</h2>
              <p>18.Januar 2016</p>
            </div>
      .csstab
        h3 main.css
        pre
          code.css.background.
            .day {
              border-radius: 1rem;
              box-shadow: 0 0 1rem rgba(30,30,30,0.6);
              height: 30rem;
              width: 20rem;
            }
          
            h2 {
              border-radius: 1rem 1rem 0 0;
              width: 20rem;
              margin: 0;
              text-align: center;
              font-size: 12rem;
              padding: 3rem 0;
              background: #2D7998;
              color: #fff;
              text-shadow: 0 0 2rem rgba(0,0,0,0.6);
              box-shadow: inset 0 0 4rem rgba(250,250,250,0.1);
            }
            
            p {
              width: 100%;
              height: 10rem;
              text-align: center;
              font-size: 1rem;
            }
    .previewside
      .prettydiv
        div(style="border-radius: 1rem;margin: 1rem;display: inline-block;box-shadow: 0 0 1rem rgba(30,30,30,0.6);height: 30rem;width: 20rem;")
          h2(style="border-radius: 1rem 1rem 0 0;width:20rem;margin:0;text-align: center; font-size: 12rem; padding: 4rem 0; background: #2D7998;color: white;text-shadow: 0 0 2rem rgba(0,0,0,0.6); box-shadow: inset 0 0 4rem rgba(250,250,250,0.1)") 18
          p(style="width: 100%; height: 10rem;text-align: center; font-size: 2rem; padding: 3rem 0;") 18.Januar 2016  
