section
  section
    h2 Display
    pre
      code.css.background.
          display: block;
          display: inline;
          display: inline-block;
          display: none;
    .examplebox
      p Hi, this is 
        span(style="display:block;height:2em;background:    #2a69c6;") Steven
      p Hi, this is 
        span(style="display: inline; height: 2em;background:#2a69c6;") Steven
      p Hi, this is 
        span(style="display: inline-block; height: 2em;background:#2a69c6;") Steven
      p Hi, this is 
        span(style="display: none; height: 2em;background:#2a69c6;") Steven
