section
  section
    h2 Flexbox
    p.prefix (-prefix-)
    pre
      code.css.background.
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: row;

    .demodiv(style="width: 100%;display: flex;flex-direction: row;justify-content: space-around;align-items: center;border: 2px solid #253845;")
      div(style="display: block;height: 2em;border: 2px solid #253845;width:2em;")
      div(style="display: block;height: 2em;border: 2px solid #253845;width:2em;")
      div(style="display: block;height: 2em;border: 2px solid #253845;width:2em;")
      div(style="display: block;height: 2em;border: 2px solid #253845;width:2em;")
