section
  section
    h2 Position
    pre
      code.css.background.
        div {
          position: static;
          position: relative;
          position: fixed;
          position: absolute;
          top: 15px;
          right: 6px;
          bottom: 0;
          left: 80px;
        }
