section
  h2 CSS Cascading Style Sheets
  p italienisch cascata, [stufenweiser] Wasserfall
  img(style="height:70%;display:block;margin:0 auto;",src="../assets/img/big/img_b_048.jpg", alt="Wasserfall")
        