section
  section
    h2 Pseudo-Klassen
    pre
      code.css.background.
        p:hover {}
        
        input:focus {}
        
        p:first-child {}
        
        a:active {}
        
        :not(p) {}
          
        a:visited {}
        
    
  section
    .pclasshover.bg_blue2
      p Hover Me
    .pclassfocus
      input(type="text", name="name", placeholder="Focus Me")
