section
  section
    h2 Übergänge
    p.prefix -prefix- (-webkit-)
    pre
      code.css.background.
          transition: all 0.5s ease-in-out 0.3s;
          transition: property duration timing-function delay;
          
    .demodiv.transOhne
      p Hover Me
    .demodiv.transMit
      p Hover Me
