section
  section
    h2 Media Queries
    pre
      code.css.background.
        @media not|only mediatype and (expressions) {
            CSS-Code;
        }
      
        @media screen and (min-width: 480px) {
          p {
            color: pink;
          }
        }
    
  section
    h2 Hilfreich
    .huge
      a.huge(href="http://www.w3schools.com/cssref/default.asp") W3Schools CSS Reference
    .huge(style="margin: 2em 0")
      a.huge(href="https://css-tricks.com/") CSS-Tricks 
