-var pfad = "slides/"
-var home = "../index.html"
-var next = '2_6_text.html'
-var previous = '2_4_vererbung.html'
-var title = "Farben"
-var sleep = "../sleep.html"
doctype html
html(lang='de')
  include ../master/head.jade
  body.cssslides
    include ../master/header.jade
    main
      section#1.explanation.active
        h2 Farben
        p.center.lgfont.nopad
          code.bluelight background: red;
          .colordemo1(style="background:red;")
        p.center.lgfont.nopad
          code.green background: #369541;
          .colordemo1(style="background:#369541;")
        p.center.lgfont.nopad
          code.purple background: rgb(120,120,61);
          .colordemo1(style="background:rgb(120,120,61);")
        p.center.lgfont.nopad
          code.orange background: rgba(120,120,61,0.6);
          .colordemo1(style="background:rgba(120,120,61,0.6);")
        p.center.lgfont.nopad
          code.bluedark background: hsl(200,30%,40%);
          .colordemo1(style="background:hsl(200,30%,40%);")
        p.center.lgfont.nopad
          code.red background: hsla(200,30%,40%,0.6);
          .colordemo1(style="background:hsla(200,30%,40%,0.6);")
      
        .nextslide
      section#2.explanation
        .previouslide
        h2 Größen
        h3 Feste Größen:
        p.center.medfont.nopad
          code.bluelight height: 50px;
          br
          code.bluelight width: 50pt;
          br
          code.bluelight height: 2cm;
          br
          code.bluelight width: 1in;
        
        h3 Relative Größen:
        p.center.medfont.nopad
          code.orange height: 5vh;
          br
          code.orange width: 5vw;
          br
          code.orange height: 5vmax;
          br
          code.orange width: 5vmin;
          br
          code.orange height: 3em;
          br
          code.orange width: 3rem;
          br
          code.orange height: 90%;
              
  include ../master/footer.jade
