section
  section
    h2 Schrift
    pre
      code.css.background.
          p { font-family: 'Times New Roman', Times , serif;}
    p(style="font-family: Times New Roman")  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    pre
      code.css.background.
          p { font-style: normal; /* italic */}
    p(style="font-style: italic") Lorem ipsum dolor sit amet.
    pre
      code.css.background.
          p { font-size: 2rem;}
    
  section
    pre
      code.css.background.
          p { font-weight: 700; /* 100 | 400 | 300 | bold | normal | thin */ }
    p(style="font-weight: 300")  Lorem ipsum dolor sit amet,
      span(style="font-weight: 400")  consectetur adipisicing elit. Quis, soluta,
      span(style="font-weight:500")  voluptas. Tempore similique voluptate quae,
      span(style="font-weight:700")  odio aspernatur, a dolore? Tempora.
