section
  section
    h2 Listen
    pre
      code.css.background.
        ol {
          list-style-type: decimal; /* lower-alpha | numeric |
                  armenian | georgian | ... */
          list-style-image: url("list.png");
          list-style-position: outside; /* inside */
        }
        ul {
          list-style: square inside;
        }
