section
  section
    h2 Hintergründe

    pre
      code.css.background.
        background-color: #1573bf;
    .demodiv(style="background: #1573bf")
    pre
      code.css.background.
        background-image: url('bear.png');
    .demodiv(style="background: url('../assets/img/small/img_s_089.jpg') center center")
    
  section
    pre
      code.css.background.
        background-repeat: no-repeat;
    .demodiv(style="background: url('../assets/img/small/img_s_089.jpg') left center no-repeat")
    pre
      code.css.background.
        background-position: center top;
    .demodiv(style="background: url('../assets/img/small/img_s_089.jpg') center top no-repeat")
    
  section
    pre
      code.css.background.
        background-size: cover; /* contain | 50px 30px */
    .demodiv(style="background: url('../assets/img/small/img_s_089.jpg') center center; background-size: cover")
    .demodiv(style="background: url('../assets/img/small/img_s_089.jpg') center center no-repeat; background-size: contain")
    pre
      code.css.background.
        background: url('bear.png') no-repeat center center;
    .demodiv(style="background: url('../assets/img/small/img_s_089.jpg') center center no-repeat")
