section
  section
    h2  Ränder
    pre
      code.css.background.
          div { border-style: solid; /* dotted | dashed | double | groove | none */ }
    .small-demo-div(style="border: 10px solid #3252de")
    pre
      code.css.background.
          div { border-style: solid dotted dashed solid; }
    .small-demo-div(style="border-width: 10px;border-style:solid dotted dashed solid;border-color:#12de96;")
    
  section
    pre
      code.css.background.
          div { border-width: 20px; }
    .small-demo-div(style="border: 20px solid #3252de")
    pre
      code.css.background.
          div { border-color: #de54aa; }
  
    .small-demo-div(style="border: 10px solid #de54aa")
    
  section
    p.prefix -prefix-
    pre
      code.css.background.
        div { border-radius: 30px;
              -o-border-radius: 30px;
              -moz-border-radius: 30px;
              -webkit-border-radius: 30px; }
        
    .small-demo-div(style="border: 10px solid #de54aa; border-radius: 30px")
    
  section
    pre
      code.css.background.
          div { border: 10px solid #de54aa; }
    .small-demo-div(style="border: 10px solid #de54aa;")
