section
  section
    h2 Box-Sizing
    pre
      code.css.background.
        div {
          width: 300px;
          height: 150px;
        }
    .demodiv.bg_blue2(style="width:300px;")
    pre
      code.css.background.
        div {
          width: 300px;
          height: 150px;
          padding: 0 6rem;
        }
    .demodiv.bg_blue(style="width:300px;height:150px;padding:0 6rem;box-sizing: content-box")
    
  section
    pre
      code.css.background.
        div {
          width: 300px;
          height: 150px;
        }
    .demodiv.bg_blue2(style="width:300px;")
    pre
      code.css.background.
        div {
          width: 300px;
          height: 150px;
          padding: 0 6rem;
          box-sizing: border-box;
            }
    .demodiv.bg_blue(style="width:300px;height:150px;padding:0 6rem;")
  section(data-background="#282c34").dark
    .split
      .left
        h4 style.css
        pre
          code.css.
            * {
              box-sizing: border-box
            }
        pre.fragment
          code.css.
            header {
              ...
              height: 20rem;
            }

        pre.fragment
          code.css.
            .content {
              margin: 2rem auto;
              padding: 0 2rem;
              width: 100%;
              max-width: 40rem;
            }

      .right
        +preview('file://index.html',[{title:'Doofenschmirtz Evil Inc.', active:true},{title:'Preise - Doofenschmirtz Evil Inc.', active:false},{title:'Bilder - Doofenschmirtz Evil Inc.', active:false}])
          style.
            * {
              box-sizing: border-box;
            }
            body{
              font-family: "Ebrima";
              font-size: 16px;
              background: #eee;
              margin: 0;
              padding: 0;
            }
          
            h1 {
              font-size: 2rem;
              text-transform: uppercase;
              font-family: "Bahnschrift";
              font-weight: 400;
            }

            p {
              line-height: 1.5;
              color: #232323;
              text-align: justify;
            }

            ul {
              list-style: none;
            }


            .header{
              color: white;
              background:
                url(https://howtoweb3.de/images/medium/003.jpg);
              background-size: cover;
              background-position: center center;
              border-bottom: 0.5rem solid #1e64e2;
              padding: 3rem 1rem 1rem;
              margin-bottom: 3rem;
              height: 20rem;
            }

            .header ul{
              font-size: 1rem;
              list-style: none;
            }

            .centered {
              text-align: center;
            }

            .content{
              margin: 2rem auto;
              padding: 0 2rem;
              width: 100%;
              max-width: 40rem;
            }


            th, td {
              border-bottom: 0.125rem solid #232323;
            }
          .header
            h1.logo Doofenshmirtz Evil Incorporated
            nav
              ul
                li
                  a(href="html/preise.html") Startseite
                li
                  a(href="html/preise.html") Preise
                li
                  a(tabindex="0" aria-current="page") Bilder
          .content
            p Lorem ipsum dolor sit amet, modus regione labitur te quo, at noluisse signiferumque vim, ex ornatus habemus propriae vel. At quodsi similique forensibus vim, iriure gloriatur dissentias ea mei. Eos te quod solum. Et has unum commodo fuisset. Eam at viris putent explicari.
            h2 Erfindungen (chronologisch)
            ol
              li Magnetism Magnifier
              li Destruct-inator
              li Giant Robot
              li Deflate-inator
              li Age Accelerator-inator
              li Slave-inator
              li Drill-inator
            h2 Weitere Erfindungen
            ul
              li Copy and Paste-Inator
              li Melt-inator 6-5000
              li Wood-inator
            p.centered Nam facer novum sonet ea, nam iriure consetetur et. Ne nulla ubique per, dicunt reprimique te mel. Omittantur efficiantur ius et, usu in habeo facer inani, docendi liberavisse instructior in mei. Qui choro ignota ei, wisi ipsum nam ne. Mollis recusabo eu his, ea hinc volutpat definiebas duo.
            p Est in mundi tollit, nam et dicunt contentiones, ex usu audire diceret facilisis. Eum viderer corpora sadipscing ut, eu ius aeterno integre, mei ex libris perpetua comprehensam. Errem tamquam pertinax no vis, eum velit suavitate an, est populo option at. Id sea utamur regione democritum, ea utroque laboramus eam. Nostrum quaestio no has, cu pri aperiam oblique habemus. An moderatius omittantur definitiones sit.
  section
    +preview('file://index.html',[{title:'Doofenschmirtz Evil Inc.', active:true},{title:'Preise - Doofenschmirtz Evil Inc.', active:false},{title:'Bilder - Doofenschmirtz Evil Inc.', active:false}])
      style.
        * {
          box-sizing: border-box;
        }
        body{
          font-family: "Ebrima";
          font-size: 16px;
          background: #eee;
          margin: 0;
          padding: 0;
        }
      
        h1 {
          font-size: 2rem;
          text-transform: uppercase;
          font-family: "Bahnschrift";
          font-weight: 400;
        }

        p {
          line-height: 1.5;
          color: #232323;
          text-align: justify;
        }

        ul {
          list-style: none;
        }


        .header{
          color: white;
          background:
            url(https://howtoweb3.de/images/medium/003.jpg);
          background-size: cover;
          background-position: center center;
          border-bottom: 0.5rem solid #1e64e2;
          padding: 3rem 1rem 1rem;
          margin-bottom: 3rem;
          height: 20rem;
        }

        .header ul{
          font-size: 1rem;
          list-style: none;
        }

        .centered {
          text-align: center;
        }

        .content{
          margin: 2rem auto;
          padding: 0 2rem;
          width: 100%;
          max-width: 40rem;
        }

        th, td {
          border-bottom: 0.125rem solid #232323;
        }
      .header
        h1.logo Doofenshmirtz Evil Incorporated
        nav
          ul
            li
              a(href="html/preise.html") Startseite
            li
              a(href="html/preise.html") Preise
            li
              a(tabindex="0" aria-current="page") Bilder
      .content
        p Lorem ipsum dolor sit amet, modus regione labitur te quo, at noluisse signiferumque vim, ex ornatus habemus propriae vel. At quodsi similique forensibus vim, iriure gloriatur dissentias ea mei. Eos te quod solum. Et has unum commodo fuisset. Eam at viris putent explicari.
        h2 Erfindungen (chronologisch)
        ol
          li Magnetism Magnifier
          li Destruct-inator
          li Giant Robot
          li Deflate-inator
          li Age Accelerator-inator
          li Slave-inator
          li Drill-inator
        h2 Weitere Erfindungen
        ul
          li Copy and Paste-Inator
          li Melt-inator 6-5000
          li Wood-inator
        p.centered Nam facer novum sonet ea, nam iriure consetetur et. Ne nulla ubique per, dicunt reprimique te mel. Omittantur efficiantur ius et, usu in habeo facer inani, docendi liberavisse instructior in mei. Qui choro ignota ei, wisi ipsum nam ne. Mollis recusabo eu his, ea hinc volutpat definiebas duo.
        p Est in mundi tollit, nam et dicunt contentiones, ex usu audire diceret facilisis. Eum viderer corpora sadipscing ut, eu ius aeterno integre, mei ex libris perpetua comprehensam. Errem tamquam pertinax no vis, eum velit suavitate an, est populo option at. Id sea utamur regione democritum, ea utroque laboramus eam. Nostrum quaestio no has, cu pri aperiam oblique habemus. An moderatius omittantur definitiones sit.