section
  section
    h2 Farben
    table
      tr
        td 
          code background: red;
        td
          .colordemo(style="background:red;")
      tr.fragment
        td
          code background: #369541;
        td
          .colordemo(style="background:#369541;")
      tr.fragment
        td
          code background: rgb(120,120,61);
        td
          .colordemo(style="background:rgb(120,120,61);")
      tr.fragment
        td
          code background: rgba(120,120,61,0.6);
        td
          .colordemo(style="background:rgba(120,120,61,0.6);")
      tr.fragment
        td
          code background: hsl(200,30%,40%);
        td
          .colordemo(style="background:hsl(200,30%,40%);")
      tr.fragment
        td
          code background: hsla(200,30%,40%,0.6);
        td
          .colordemo(style="background:hsla(200,30%,40%,0.6);")
