section
  section
    h2 Display
    pre
      code.css.background.
        div{
          display: block;
          display: inline;
          display: inline-block;
          display: none;
        }
    .examplebox
      p Hi, this is 
        span(style="display:block;height:2em;background:    #2a69c6;") Steven
      p Hi, this is 
        span(style="display: inline; height: 2em;background:#2a69c6;") Steven
      p Hi, this is 
        span(style="display: inline-block; height: 2em;background:#2a69c6;") Steven
      p Hi, this is 
        span(style="display: none; height: 2em;background:#2a69c6;") Steven
  section
    //- section(data-background="#282c34").dark
    +preview('file://index.html',[{title:'Doofenschmirtz Evil Inc.', active:true},{title:'Preise - Doofenschmirtz Evil Inc.', active:false},{title:'Bilder - Doofenschmirtz Evil Inc.', active:false}])
      style.
        * {
          box-sizing: border-box;
        }
        body{
          font-family: "Ebrima";
          font-size: 16px;
          background: #eee;
          margin: 0;
          padding: 0;
        }
      
        h1 {
          font-size: 2rem;
          text-transform: uppercase;
          font-family: "Bahnschrift";
          font-weight: 400;
        }

        p {
          line-height: 1.5;
          color: #232323;
          text-align: justify;
        }

        ul {
          list-style: none;
        }


        header{
          color: white;
          background:
            url(https://howtoweb3.de/images/medium/003.jpg);
          background-size: cover;
          background-position: center center;
          border-bottom: 0.5rem solid #1e64e2;
          padding: 3rem 1rem 1rem;
          margin-bottom: 3rem;
          height: 20rem;
        }

        header ul{
          font-size: 1rem;
          list-style: none;
        }

        .centered {
          text-align: center;
        }

        main{
          margin: 2rem auto;
          padding: 0 2rem;
          width: 100%;
          max-width: 40rem;
        }

        th, td {
          border-bottom: 0.125rem solid #232323;
        }

        img {
          width:100%;
          margin: 1rem 0; 
          max-height: 15rem;
          object-fit: cover;
        }
      header
        h1.logo Doofenshmirtz Evil Incorporated
        nav
          ul
            li
              a(tabindex="0" aria-current="page") Startseite
            li
              a(href="html/preise.html") Preise
            li
              a(href="html/bilder.html") Bilder
      main
        p Lorem ipsum dolor sit amet, modus regione labitur te quo, at noluisse signiferumque vim, ex ornatus habemus propriae vel. At quodsi similique forensibus vim, iriure gloriatur dissentias ea mei. Eos te quod solum. Et has unum commodo fuisset. Eam at viris putent explicari.
        <img src="https://howtoweb3.de/images/medium/115.jpg">
        <img src="https://howtoweb3.de/images/medium/172.jpg">
        h2 Erfindungen (chronologisch)
        ol
          li Magnetism Magnifier
          li Destruct-inator
          li Giant Robot
          li Deflate-inator
          li Age Accelerator-inator
          li Slave-inator
          li Drill-inator
        h2 Weitere Erfindungen
        ul
          li Copy and Paste-Inator
          li Melt-inator 6-5000
          li Wood-inator
        p.centered Nam facer novum sonet ea, nam iriure consetetur et. Ne nulla ubique per, dicunt reprimique te mel. Omittantur efficiantur ius et, usu in habeo facer inani, docendi liberavisse instructior in mei. Qui choro ignota ei, wisi ipsum nam ne. Mollis recusabo eu his, ea hinc volutpat definiebas duo.
        p Est in mundi tollit, nam et dicunt contentiones, ex usu audire diceret facilisis. Eum viderer corpora sadipscing ut, eu ius aeterno integre, mei ex libris perpetua comprehensam. Errem tamquam pertinax no vis, eum velit suavitate an, est populo option at. Id sea utamur regione democritum, ea utroque laboramus eam. Nostrum quaestio no has, cu pri aperiam oblique habemus. An moderatius omittantur definitiones sit.
  section(data-background="#282c34").dark
    .split
      .left
        h4 index.html
        pre
          code.html.
            &lt;header&gt;
              &lt;nav&gt;
                &lt;ul&gt;
                  &lt;li&gt;&lt;a tabindex="0" aria-current="page"&gt;Startseite&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href="html/preise.html"&gt;Preise&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href="html/bilder.html"&gt;Bilder&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
              &lt;/nav&gt;
              &lt;h1 class="logo"&gt;Doofenshmirtz Evil Incorporated&lt;/h1&gt;
            &lt;/header&gt;
      .right
        +preview('file://index.html',[{title:'Doofenschmirtz Evil Inc.', active:true},{title:'Preise - Doofenschmirtz Evil Inc.', active:false},{title:'Bilder - Doofenschmirtz Evil Inc.', active:false}])
          style.
            * {
              box-sizing: border-box;
            }
            body{
              font-family: "Ebrima";
              font-size: 16px;
              background: #eee;
              margin: 0;
              padding: 0;
            }
          
            h1 {
              font-size: 2rem;
              text-transform: uppercase;
              font-family: "Bahnschrift";
              font-weight: 400;
            }

            p {
              line-height: 1.5;
              color: #232323;
              text-align: justify;
            }

            ul {
              list-style: none;
            }


            header{
              color: white;
              background:
                url(https://howtoweb3.de/images/medium/003.jpg);
              background-size: cover;
              background-position: center center;
              border-bottom: 0.5rem solid #1e64e2;
              padding: 3rem 1rem 1rem;
              margin-bottom: 3rem;
              height: 20rem;
            }

            nav ul{
              font-size: 1rem;
              list-style: none;
            }

            .centered {
              text-align: center;
            }

            main{
              margin: 2rem auto;
              padding: 0 2rem;
              width: 100%;
              max-width: 40rem;
            }

            th, td {
              border-bottom: 0.125rem solid #232323;
            }

            img {
              width:100%;
              margin: 1rem 0; 
              max-height: 15rem;
              object-fit: cover;
            }

          header
            nav
              ul
                li
                  a(tabindex="0" aria-current="page") Startseite
                li
                  a(href="html/preise.html") Preise
                li
                  a(href="html/bilder.html") Bilder
            h1.logo Doofenshmirtz Evil Incorporated
          main
            p Lorem ipsum dolor sit amet, modus regione labitur te quo, at noluisse signiferumque vim, ex ornatus habemus propriae vel. At quodsi similique forensibus vim, iriure gloriatur dissentias ea mei. Eos te quod solum. Et has unum commodo fuisset. Eam at viris putent explicari.
            <img src="https://howtoweb3.de/images/medium/115.jpg">
            <img src="https://howtoweb3.de/images/medium/172.jpg">
            h2 Erfindungen (chronologisch)
            ol
              li Magnetism Magnifier
              li Destruct-inator
              li Giant Robot
              li Deflate-inator
              li Age Accelerator-inator
              li Slave-inator
              li Drill-inator
            h2 Weitere Erfindungen
            ul
              li Copy and Paste-Inator
              li Melt-inator 6-5000
              li Wood-inator
            p.centered Nam facer novum sonet ea, nam iriure consetetur et. Ne nulla ubique per, dicunt reprimique te mel. Omittantur efficiantur ius et, usu in habeo facer inani, docendi liberavisse instructior in mei. Qui choro ignota ei, wisi ipsum nam ne. Mollis recusabo eu his, ea hinc volutpat definiebas duo.
            p Est in mundi tollit, nam et dicunt contentiones, ex usu audire diceret facilisis. Eum viderer corpora sadipscing ut, eu ius aeterno integre, mei ex libris perpetua comprehensam. Errem tamquam pertinax no vis, eum velit suavitate an, est populo option at. Id sea utamur regione democritum, ea utroque laboramus eam. Nostrum quaestio no has, cu pri aperiam oblique habemus. An moderatius omittantur definitiones sit.
  section(data-background="#282c34").dark
    .split
      .left
        h4 style.css
        pre
          code.css.
            header {
              padding: 0 1rem 1rem;
            }
             nav ul{
              font-size: 1rem;
              list-style: none;
              margin: 0;
              padding: 0;
              text-align: right;
            }

            nav li {
              display: inline-block;
            }
            nav li a{
              display: block;
              padding: 1rem;
              color: #fff;
            }
      .right
        +preview('file://index.html',[{title:'Doofenschmirtz Evil Inc.', active:true},{title:'Preise - Doofenschmirtz Evil Inc.', active:false},{title:'Bilder - Doofenschmirtz Evil Inc.', active:false}])
          style.
            * {
              box-sizing: border-box;
            }
            body{
              font-family: "Ebrima";
              font-size: 16px;
              background: #eee;
              margin: 0;
              padding: 0;
            }
          
            h1 {
              font-size: 2rem;
              text-transform: uppercase;
              font-family: "Bahnschrift";
              font-weight: 400;
            }

            p {
              line-height: 1.5;
              color: #232323;
              text-align: justify;
            }

            ul {
              list-style: none;
            }


            header{
              color: white;
              background:
                url(https://howtoweb3.de/images/medium/003.jpg);
              background-size: cover;
              background-position: center center;
              border-bottom: 0.5rem solid #1e64e2;
              padding: 0 1rem 1rem;
              margin-bottom: 3rem;
              height: 20rem;
            }

            nav ul{
              font-size: 1rem;
              list-style: none;
              margin: 0;
              padding: 0;
              text-align: right;
            }

            .centered {
              text-align: center;
            }

            main{
              margin: 2rem auto;
              padding: 0 2rem;
              width: 100%;
              max-width: 40rem;
            }

            th, td {
              border-bottom: 0.125rem solid #232323;
            }

            img {
              width:100%;
              margin: 1rem 0; 
              max-height: 15rem;
              object-fit: cover;
              border-radius: 1rem;
            }

            nav li {
              display:inline-block;
            }
            nav li a{
              display: block;
              padding: 1rem;
              color: #fff;
              text-decoration: none;
            }
          header
            nav
              ul
                li
                  a(tabindex="0" aria-current="page") Startseite
                li
                  a(href="html/preise.html") Preise
                li
                  a(href="html/bilder.html") Bilder
            h1.logo Doofenshmirtz Evil Incorporated
          main
            p Lorem ipsum dolor sit amet, modus regione labitur te quo, at noluisse signiferumque vim, ex ornatus habemus propriae vel. At quodsi similique forensibus vim, iriure gloriatur dissentias ea mei. Eos te quod solum. Et has unum commodo fuisset. Eam at viris putent explicari.
            <img src="https://howtoweb3.de/images/medium/115.jpg">
            <img src="https://howtoweb3.de/images/medium/172.jpg">
            h2 Erfindungen (chronologisch)
            ol
              li Magnetism Magnifier
              li Destruct-inator
              li Giant Robot
              li Deflate-inator
              li Age Accelerator-inator
              li Slave-inator
              li Drill-inator
            h2 Weitere Erfindungen
            ul
              li Copy and Paste-Inator
              li Melt-inator 6-5000
              li Wood-inator
            p.centered Nam facer novum sonet ea, nam iriure consetetur et. Ne nulla ubique per, dicunt reprimique te mel. Omittantur efficiantur ius et, usu in habeo facer inani, docendi liberavisse instructior in mei. Qui choro ignota ei, wisi ipsum nam ne. Mollis recusabo eu his, ea hinc volutpat definiebas duo.
            p Est in mundi tollit, nam et dicunt contentiones, ex usu audire diceret facilisis. Eum viderer corpora sadipscing ut, eu ius aeterno integre, mei ex libris perpetua comprehensam. Errem tamquam pertinax no vis, eum velit suavitate an, est populo option at. Id sea utamur regione democritum, ea utroque laboramus eam. Nostrum quaestio no has, cu pri aperiam oblique habemus. An moderatius omittantur definitiones sit.