section
  section
    h2 Flexbox
    p.prefix (-prefix-)
    pre
      code.css.background.
        div {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: row;
        }

    .demodiv(style="width: 100%;display: flex;flex-direction: row;justify-content: space-around;align-items: center;border: 2px solid #253845;")
      div(style="display: block;height: 2em;border: 2px solid #253845;width:2em;")
      div(style="display: block;height: 2em;border: 2px solid #253845;width:2em;")
      div(style="display: block;height: 2em;border: 2px solid #253845;width:2em;")
      div(style="display: block;height: 2em;border: 2px solid #253845;width:2em;")

  section
    +preview('file://bilder.html',[{title:'Doofenschmirtz Evil Inc.', active:false},{title:'Preise - Doofenschmirtz Evil Inc.', active:false},{title:'Bilder - Doofenschmirtz Evil Inc.', active:true}])
      style.
        * {
          box-sizing: border-box;
        }
        body{
          font-family: "Ebrima";
          font-size: 16px;
          background: #eee;
          margin: 0;
          padding: 0;
          min-height: 100vh;
        }
      
        h1 {
          font-size: 2rem;
          text-transform: uppercase;
          font-family: "Bahnschrift";
          font-weight: 400;
        }

        p {
          line-height: 1.5;
          color: #232323;
          text-align: justify;
        }

        ul {
          list-style: none;
        }


        header{
          color: white;
          background:
            url(https://howtoweb3.de/images/medium/003.jpg);
          background-size: cover;
          background-position: center center;
          border-bottom: 0.5rem solid #1e64e2;
          padding: 0 1rem 1rem;
          margin-bottom: 3rem;
          height: 20rem;
          box-shadow: 0 0 1rem rgba(0,0,0,0.8);
          position: relative
        }

        nav {
          position: sticky;
          top: 0;
        }

        nav ul{
          font-size: 1rem;
          list-style: none;
          margin: 0;
          padding: 0;
          text-align: right;
        }

        .centered {
          text-align: center;
        }

        main{
          margin: 2rem auto;
          padding: 0 2rem;
          width: 100%;
          max-width: 40rem;
        }

        th, td {
          border-bottom: 0.125rem solid #232323;
        }

        img {
          width:100%;
          margin: 1rem 0; 
          max-height: 15rem;
          object-fit: cover;
          box-shadow: 0 0 1rem rgba(0,0,0,0.6);
          border-radius: 1rem;
        }

        nav li {
          display:inline-block;
        }
        nav li a{
          display: block;
          padding: 1rem;
          color: #fff;
          text-decoration: none;
        }

        .logo{
          position: absolute;
          bottom:0;
        }

        footer {
          background: #333;
          width: 100%;
        }

        .footer-content {
          margin: 0 auto;
          width: 100%;
          max-width: 40rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
        }
        .footer-content p{
          margin: 1rem;
          color: #fff;
          line-height: 1;
          text-align: center;
        }

        .gallery {
          display: flex;
          flex-wrap: wrap;
        }

        .gallery img {
          margin: 1rem;
          width: 15rem;
          flex-grow:1;
        }
      header
        nav
          ul
            li
              a(tabindex="0" aria-current="page") Startseite
            li
              a(href="html/preise.html") Preise
            li
              a(href="html/bilder.html") Bilder
        h1.logo Doofenshmirtz Evil Incorporated
      main
        h2 Bildergalerie
        //- div(style="height:100rem;")
        .gallery
          img(src="https://howtoweb3.de/images/small/002.jpg")
          img(src="https://howtoweb3.de/images/small/388.jpg")
          img(src="https://howtoweb3.de/images/small/341.jpg")
          img(src="https://howtoweb3.de/images/small/325.jpg")
          img(src="https://howtoweb3.de/images/small/261.jpg")
          img(src="https://howtoweb3.de/images/small/232.jpg")
          img(src="https://howtoweb3.de/images/small/221.jpg")
          img(src="https://howtoweb3.de/images/small/204.jpg")
      footer
        .footer-content
          p &copy; 2021
          p Doofenschmirtz Evil Incorporated
          p Site build by Norm
          
  section(data-background="#282c34").dark
    .split
      .left
        h4 index.html
        pre
          code.html.
            &lt;html&gt;
              ...
              &lt;body&gt;
                &lt;main&gt;
                  &lt;h2&gt;BIldergalerie&lt;/h2&gt;
                  &lt;div class="gallery" &gt;
                    &lt;img src="https://howtoweb3.de/images/small/002.jpg" &gt;
                    &lt;img src="https://howtoweb3.de/images/small/388.jpg" &gt;
                    &lt;img src="https://howtoweb3.de/images/small/341.jpg" &gt;
                    ...
                  &lt;/div&gt;
                &lt;/main&gt;
                &lt;footer&gt;...&lt;/footer&gt;
              &lt;/body&gt;
            &lt;/html&gt;
            
      .right
        h4 style.css
        pre
          code.css.
            .gallery {
              display: flex;
              flex-wrap: wrap;
            }

            .gallery img {
              margin: 1rem;
              width: 15rem;
              flex-grow:1;
            }
  section(data-background="#282c34").dark
        h4 style.css
        pre
          code.css.
            .footer-content {
              margin: 0 auto;
              width: 100%;
              max-width: 40rem;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-wrap: wrap;
            }
            .footer-content p{
              margin: 1rem;
              color: #fff;
              line-height: 1;
            }
