section
  section
    h2 Schrift
    pre
      code.css.background.
          p { font-family: 'Times New Roman', Times , serif;}
    p(style="font-family: Times New Roman")  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    pre
      code.css.background.
          p { font-style: normal; /* italic */}
    p(style="font-style: italic") Lorem ipsum dolor sit amet.
    pre
      code.css.background.
          p { font-size: 2rem;}
    
  section
    pre
      code.css.background.
          p { font-weight: 700; /* 100 | 400 | 300 | bold | normal | thin */ }
    p(style="font-weight: 300")  Lorem ipsum dolor sit amet,
      span(style="font-weight: 400")  consectetur adipisicing elit. Quis, soluta,
      span(style="font-weight:500")  voluptas. Tempore similique voluptate quae,
      span(style="font-weight:700")  odio aspernatur, a dolore? Tempora.
  section(data-background="#282c34").dark
    .split
      .left
        h4 style.css
        pre
          code.css.
            body{
             font-family: "Ebrima";
             font-size: 16px
            }
          
            h1 {
              background: green;
              color: white;
              font-size: 2rem;
              text-transform: uppercase;
              font-family: "Bahnschrift";
              font-weight: 400;
            }

            p {
              line-height: 1.5;
              color: #232323;
              text-align: justify;
            }
      .right
        +preview('file://index.html',[{title:'Doofenschmirtz Evil Inc.', active:true},{title:'Preise - Doofenschmirtz Evil Inc.', active:false},{title:'Bilder - Doofenschmirtz Evil Inc.', active:false}])
          style.
            body{
             font-family: "Ebrima";
             font-size: 16px
            }
          
            h1 {
              background: green;
              color: white;
              font-size: 2rem;
              text-transform: uppercase;
              font-family: "Bahnschrift";
              font-weight: 400;
            }

            p {
              line-height: 1.5;
              color: #232323;
              text-align: justify;
            }
          h1  Doofenshmirtz Evil Incorporated
          p Lorem ipsum dolor sit amet, modus regione labitur te quo, at noluisse signiferumque vim, ex ornatus habemus propriae vel. At quodsi similique forensibus vim, iriure gloriatur dissentias ea mei. Eos te quod solum. Et has unum commodo fuisset. Eam at viris putent explicari.</p>
          h2 Erfindungen (chronologisch)
          ol
            li Magnetism Magnifier
            li Destruct-inator
            li Giant Robot
            li Deflate-inator
            li Age Accelerator-inator
            li Slave-inator
            li Drill-inator
          h2 Weitere Erfindungen
          ul
            li Copy and Paste-Inator
            li Melt-inator 6-5000
            li Wood-inator
          p Nam facer novum sonet ea, nam iriure consetetur et. Ne nulla ubique per, dicunt reprimique te mel. Omittantur efficiantur ius et, usu in habeo facer inani, docendi liberavisse instructior in mei. Qui choro ignota ei, wisi ipsum nam ne. Mollis recusabo eu his, ea hinc volutpat definiebas duo.
          p Est in mundi tollit, nam et dicunt contentiones, ex usu audire diceret facilisis. Eum viderer corpora sadipscing ut, eu ius aeterno integre, mei ex libris perpetua comprehensam. Errem tamquam pertinax no vis, eum velit suavitate an, est populo option at. Id sea utamur regione democritum, ea utroque laboramus eam. Nostrum quaestio no has, cu pri aperiam oblique habemus. An moderatius omittantur definitiones sit.