section
  section
    h2 Kombinatoren
    pre
      code.css.background.
        /* Absteigend */
        div p {
          color: #548645;
        }
        /* Kind */
        div > p {
          color: #548645;
        }
        /* Zwilling */
        div ~ p {
          color: #548645;
        }
        
    
  //- section
  //-   pre
  //-     code.css.background.
  //-       /* Schlecht */
  //-       body > .wrapper > main > section > p > a > span {
  //-         background: yellow;
  //-       }
  //-       /* Gut */
  //-       .bg-yellow {
  //-         background: yellow;
  //-       }
