section
  section
    h2 Größen
    table(style="margin-top: 10rem")
      tr
        td
          code height: 50px;
        td Pixel
      tr.fragment
        td
          code width: 50pt;
        td Punkt
      tr.fragment
        td
          code height: 2cm;
        td Zentimeter
      tr.fragment
        td
          code width: 1in;
        td Inches
  section
    table
      tr
        td 
          code height: 5vh;
        td Viewport-Height
      tr.fragment
        td 
          code width: 5vw;
        td Viewport-Width
      tr.fragment
        td 
          code height: 5vmax;
        td Viewport-Max
      tr.fragment
        td 
          code width: 5vmin;
        td Viewport-Min
      tr.fragment
        td 
          code height: 3em;
        td Schriftgröße
      tr.fragment
        td 
          code width: 3rem;
        td Schriftgröße des Wurzelelement
      tr.fragment
        td 
          code height: 90%;
        td Prozent
              
