section
  section
    h2 CSS-Variablen
    p.prefix No IE-Support
    pre
      code.css.
        :root {
          --main-bg-color: blue;
        }

        div {
          background-color: var(--main-bg-color)
        }
