section
  section(data-background="#282c34").dark
    h2 CSS-Variablen
    p.prefix No IE-Support
    pre
      code.css.
        :root {
          --main-bg-color: blue;
        }

        div {
          background-color: var(--main-bg-color)
        }
  section(data-background="#282c34").dark
        h4 style.css
        pre
          code.css.
            body {
              --main-color: #1E3EE3;
              --accent-color: #74C136;
              --background-color: #eee;
              --font-color: #232323;

            }
            
            header {
              border-bottom: 0.5rem solid var(--main-color);
            }
            