section.about-collage(data-transition="fade-in fade-out")
  .collage-element
    video(data-autoplay, loop)#time-video
      source(data-src="./img/about/time.mp4"  type="video/mp4")
  .collage-element(style="background-image:url(./img/about/darthvader.jpg)")
  .collage-element(style="background-image:url(./img/about/expanse-1.webp)")
  .collage-element(style="background-image:url(./img/about/eh-co.jpg)")
