section.about-collage(data-transition="fade-in fade-out")
  .collage-element
    .grid
      img.grid-element(data-src="./img/about/artists/beatles.jpg")
      img.grid-element(data-src="./img/about/artists/brunomars.jpg")
      img.grid-element(data-src="./img/about/artists/Coldplay.png")
      img.grid-element(data-src="./img/about/artists/eltonjohn.jpg")
      img.grid-element(data-src="./img/about/artists/madonna.jpg")
      img.grid-element(data-src="./img/about/artists/pinkfloyd.jpg")
      img.grid-element(data-src="./img/about/artists/queen.jpg")
      img.grid-element(data-src="./img/about/artists/wiseguys.jpg")
      img.grid-element(data-src="./img/about/artists/rammstein.jpg")
    //- video(data-autoplay, loop)#time-video
    //-   source(data-src="./img/about/time.mp4"  type="video/mp4")
  .collage-element
    .grid
      img.grid-element(data-src="./img/about/villains/darthmaul.jpg")
      img.grid-element(data-src="./img/about/villains/BellatrixLestrange.webp")
      img.grid-element(data-src="./img/about/villains/umbridge.jpg")
      img.grid-element(data-src="./img/about/villains/sauron.jpg")
      img.grid-element(data-src="./img/about/villains/davyjones.jpg")
      img.grid-element(data-src="./img/about/villains/mrsmith.jpg")
      img.grid-element(data-src="./img/about/villains/thanos.jpg")
      img.grid-element(data-src="./img/about/villains/palpatine.webp")
      img.grid-element(data-src="./img/about/villains/smaug.jpg")
  .collage-element
    .grid
      img.grid-element(data-src="./img/about/series/breakingbad.jpg")
      img.grid-element(data-src="./img/about/series/friends.jpg")
      img.grid-element(data-src="./img/about/series/narcos.jpg")
      img.grid-element(data-src="./img/about/series/got.jpg")
      img.grid-element(data-src="./img/about/series/sherlock.jpg")
      img.grid-element(data-src="./img/about/series/The_Simpsons_.jpg")
      img.grid-element(data-src="./img/about/series/theoffice.jpg")
      img.grid-element(data-src="./img/about/series/thewire.jpg")
      img.grid-element(data-src="./img/about/series/Westworld.jpg")
  .collage-element
    .grid
      img.grid-element(data-src="./img/about/hobbies/bow.jpg")
      img.grid-element(data-src="./img/about/hobbies/handball.jpg")
      img.grid-element(data-src="./img/about/hobbies/book.jpg")
      img.grid-element(data-src="./img/about/hobbies/bike.jpg")
      img.grid-element(data-src="./img/about/hobbies/ac.jpg")
      img.grid-element(data-src="./img/about/hobbies/horse.jpg")
      img.grid-element(data-src="./img/about/hobbies/party.jpg")
      img.grid-element(data-src="./img/about/hobbies/swimming.jpg")
      img.grid-element(data-src="./img/about/hobbies/football.jpg")
